.process.pt-140.pb-40.pos-rel {
    background: linear-gradient(45deg, #010315, #000216); /* Purple Gradient */
    color: white; /* White Text */
    padding-top: 140px; /* Keep existing padding */
    padding-bottom: 40px; /* Keep existing padding */
    position: relative; /* Keep existing positioning */
    border-radius: 10px; /* Optional: Rounded corners */
}

.xb-item--title {
    color: black;
    margin-top: 8px;
    margin-bottom: 8px;
}

.xb-item--content {
    color: white;
}


    .about {
        /* padding-top: 60px;
        padding-bottom: 100px; */
    }
    
    /* Reduce padding for screens smaller than 768px */
    @media (max-width: 768px) {
        .about {
            padding-top: 8px;
            padding-bottom: 8px;
        }
    }
    

    .cs-feature {
        padding-top: 80px;
    }
    
    /* Reduce padding for screens smaller than 768px */
    @media (max-width: 768px) {
        .cs-feature {
            padding-top: 15px;
        }
    }

    .process {
        /* padding-top: 140px;
        padding-bottom: 40px;
    }
    
    /* Reduce padding for screens smaller than 768px */
    @media (max-width: 768px) {
        .process {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
     */
    

     .row {
        margin-top: 40px; /* Default for larger screens */
    }
    
    /* Reduce margin-top for screens smaller than 768px */
    @media (max-width: 768px) {
        .row {
            margin-top: 10px;
        }
    }
    

    @media (max-width: 768px) { /* Targets tablets and smaller devices */
        .process {
            padding-top: 20px !important; /* Force override */
        }
    
        .about {
            padding-bottom: 20px !important; /* Force override */
        }
    }
    



